* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --white:hsl(0, 0%, 100%);
  --bg-color:hsl(217, 100%, 97%);
  --light-blue:hsl(206, 94%, 87%);
  --title-color:hsl(213, 96%, 18%);
  --text-color:hsl(231, 11%, 63%);
  --input-border:hsl(229, 24%, 87%);
  --button-hover:hsl(243, 100%, 62%);
  --error:hsl(354, 84%, 57%);
  --magnolia:hsl(217, 100%, 97%);
  --alebaster: hsl(231, 100%, 99%);
  --light-gray:hsl(229, 24%, 87%);
}

body {
  background-color: var(--bg-color);
}

.container {
  width: 1050px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
}
.container .left {
  padding: 40px;
  width: 35%;
  height: 568px;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.container .left .step {
  display: flex;
  margin-bottom: 20px;
}
.container .left .step .step__left div {
  border: 1px solid var(--white);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1rem;
  display: grid;
  place-items: center;
}
.container .left .step .step__left div p {
  color: var(--white);
}
.container .left .step .step__left .step__one_div {
  background-color: var(--light-blue);
}
.container .left .step .step__left .step__one_div p {
  color: var(--button-hover);
}
.container .left .step .step__right h3 {
  color: var(--white);
  margin: 23px 0px 0 15px;
  letter-spacing: 2px;
  font-size: 16px;
}
.container .left .step .step__right h3::before {
  content: "STEP-1";
  letter-spacing: normal;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.6;
  position: absolute;
  transform: translateY(-20px);
}
.container .left .step-2 .step__right h3::before {
  content: "STEP_2";
}
.container .left .step-3 .step__right h3::before {
  content: "STEP_3";
}
.container .left .step-4 .step__right h3::before {
  content: "STEP_4";
}
.container .right {
  width: 65%;
  margin: 40px 100px;
}
.container .right .your__info__page h1 {
  font-weight: 400;
  color: var(--title-color);
  margin-bottom: 20px;
}
.container .right .your__info__page p {
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 35px;
}
.container .right .your__info__page label, .container .right .your__info__page input {
  display: block;
}
.container .right .your__info__page label {
  color: var(--title-color);
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
}
.container .right .your__info__page .step-one-input {
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--input-border);
  width: 100%;
}
.container .right .your__info__page .step-one-input::-moz-placeholder {
  color: var(--text-color);
}
.container .right .your__info__page .step-one-input::placeholder {
  color: var(--text-color);
}
.container .right .your__info__page .step-one-input:focus {
  border: 1px solid black;
}
.container .right .your__info__page form div {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.container .right .your__info__page form span {
  font-size: 14px;
  color: var(--error);
  display: none;
}
.container .right .your__info__page .your__info {
  padding: 15px;
  background-color: var(--title-color);
  outline: none;
  border-radius: 5px;
  color: var(--white);
  border: transparent;
  letter-spacing: 2px;
  font-weight: 600;
  float: right;
  margin-top: 75px;
  cursor: pointer;
}
.container .right .your__info__page .your__info:hover {
  background-color: var(--button-hover);
}
.container .right .select__plan__page {
  width: 100%;
  display: none;
}
.container .right .select__plan__page h1 {
  font-weight: 400;
  color: var(--title-color);
  margin-bottom: 20px;
}
.container .right .select__plan__page p {
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 35px;
}
.container .right .select__plan__page .choices .top {
  display: flex;
  justify-content: space-between;
}
.container .right .select__plan__page .choices .top .card {
  width: 160px;
  border: 1px solid var(--light-gray);
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.container .right .select__plan__page .choices .top .card img {
  margin-bottom: 35px;
}
.container .right .select__plan__page .choices .top .card h2 {
  font-size: 1.1rem;
  color: var(--title-color);
}
.container .right .select__plan__page .choices .top .card p {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
}
.container .right .select__plan__page .choices .top .card span {
  display: none;
  color: var(--title-color);
  font-size: 14px;
}
.container .right .select__plan__page .choices .top .card:hover {
  border: 1px solid var(--button-hover);
}
.container .right .select__plan__page .choices .bottom {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 40px;
  background-color: var(--magnolia);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.container .right .select__plan__page .choices .bottom i {
  font-size: 14px;
  color: var(--text-color);
  font-style: normal;
}
.container .right .select__plan__page .choices .bottom label {
  width: 50px;
  height: 25px;
  border-radius: 50pc;
  background-color: var(--title-color);
  display: flex;
  justify-content: start;
  padding: 3px;
  align-items: center;
  transition: 0.3s;
}
.container .right .select__plan__page .choices .bottom label::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: block;
  background-color: var(--white);
}
.container .right .select__plan__page .choices footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.container .right .select__plan__page .choices footer .go__your_info {
  color: var(--text-color);
  outline: none;
  font-size: 16px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  transition: 0.5s;
}
.container .right .select__plan__page .choices footer .go__your_info:hover {
  color: var(--title-color);
}
.container .right .select__plan__page .choices footer .select__plan {
  padding: 15px;
  background-color: var(--title-color);
  outline: none;
  border-radius: 5px;
  color: var(--white);
  border: transparent;
  letter-spacing: 2px;
  font-weight: 600;
  float: right;
  cursor: pointer;
}
.container .right .select__plan__page .choices footer .select__plan:hover {
  background-color: var(--button-hover);
}/*# sourceMappingURL=style.css.map */