* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid red;
}

:root {
  --white:hsl(0, 0%, 100%);
  --bg-color:hsl(217, 100%, 97%);
  --light-blue:hsl(206, 94%, 87%);
  --title-color:hsl(213, 96%, 18%);
  --text-color:hsl(231, 11%, 63%);
  --input-border:hsl(229, 24%, 87%);
  --button-hover:hsl(243, 100%, 62%);
  --error:hsl(354, 84%, 57%);
  --magnolia:hsl(217, 100%, 97%);
  --alebaster: hsl(231, 100%, 99%);
}

body {
  background-color: var(--bg-color);
}

.container {
  width: 1050px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
}
.container .left {
  padding: 40px;
  width: 35%;
  height: 568px;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
.container .left .step {
  display: flex;
  margin-bottom: 20px;
}
.container .left .step .step__left div {
  border: 1px solid var(--white);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1rem;
  display: grid;
  place-items: center;
}
.container .left .step .step__left div p {
  color: var(--white);
}
.container .left .step .step__left .step__one_div {
  background-color: var(--light-blue);
}
.container .left .step .step__left .step__one_div p {
  color: var(--button-hover);
}
.container .left .step .step__right h3 {
  color: var(--white);
  margin: 23px 0px 0 15px;
  letter-spacing: 2px;
  font-size: 16px;
}
.container .left .step .step__right h3::before {
  content: "STEP-1";
  letter-spacing: normal;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
  opacity: 0.6;
  position: absolute;
  transform: translateY(-20px);
}
.container .left .step-2 .step__right h3::before {
  content: "STEP_2";
}
.container .left .step-3 .step__right h3::before {
  content: "STEP_3";
}
.container .left .step-4 .step__right h3::before {
  content: "STEP_4";
}
.container .right {
  width: 65%;
  margin: 40px 100px;
}
.container .right h1 {
  font-weight: 400;
  color: var(--title-color);
  margin-bottom: 20px;
}
.container .right p {
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 35px;
}
.container .right .your__info__page {
  display: none;
}
.container .right .your__info__page label, .container .right .your__info__page input {
  display: block;
}
.container .right .your__info__page label {
  color: var(--title-color);
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
}
.container .right .your__info__page .step-one-input {
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--input-border);
  width: 455px;
}
.container .right .your__info__page .step-one-input::-moz-placeholder {
  color: var(--text-color);
}
.container .right .your__info__page .step-one-input::placeholder {
  color: var(--text-color);
}
.container .right .your__info__page .step-one-input:focus {
  border: 1px solid black;
}
.container .right .your__info__page form div {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.container .right .your__info__page form span {
  font-size: 14px;
  color: var(--error);
  display: none;
}
.container .right .your__info__page .your__info {
  padding: 15px;
  background-color: var(--title-color);
  outline: none;
  border-radius: 5px;
  color: var(--white);
  border: transparent;
  letter-spacing: 2px;
  font-weight: 600;
  float: right;
  margin-top: 60px;
  cursor: pointer;
}
.container .right .your__info__page .your__info:hover {
  background-color: var(--button-hover);
}
.container .right .select__plan_page {
  width: 100%;
}
.container .right .select__plan_page .choices .top {
  display: flex;
}
.container .right .select__plan_page .choices .top .card {
  width: 133px;
}/*# sourceMappingURL=style.css.map */